modules = ["nodejs-23"]
run = "npm install @mui/material @emotion/react @emotion/styled"
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm install @mui/material @emotion/react @emotion/styled"]

[workflows]
runButton = "dev"

[[workflows.workflow]]
name = "dev"
author = 42487129
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 5173
externalPort = 80
exposeLocalhost = true
